* {
    box-sizing: border-box;
}

body,
html {
    font-size: 15px;
    font-family: "Spartan", sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 90%;
    background-color: hsl(0, 0%, 100%);
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-size: 33rem, 75rem;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    box-shadow: 10px 10px 25px 0 rgba(199,199,199,0.76);
}

.main-top-title h1 {
    margin: 0;
    color: hsl(300, 43%, 22%);
}

.main-top-title h5 {
    color: hsl(300, 24%, 60%);
    font-weight: 500;
    line-height: 1.8;
}

.main-top-rated {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-top-rated-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    background-color: hsl(300, 24%, 96%);
}

.main-top-rated-row h4 {
    color: hsl(300, 43%, 22%);
}

.main-bottom-box-person {
    display: block;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
}

.main-bottom-box-person-header {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 2rem;
}

.main-bottom-box-person-header-image {
    width: 4rem;
    border-radius: 50%;
}

.main-bottom-box-person-header-title {
    display: block;
    margin-left: 2rem;
}

.main-bottom-box-person-header-title p {
    margin: 0.5rem 0;
    font-weight: bold;
}

.main-bottom-box-person-header-title span {
    color: hsl(333, 80%, 67%);
}

.main-bottom-box-person-description {
    line-height: 1.8;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}
@media only screen and (min-width: 1440px) {
    body {
        justify-content: center;
    }

    main {
        height: 80%;
    }

    .main-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5rem 10rem 2.5rem;
    }

    .main-top-title {
        display: block;
        width: 50%;
    }

    .main-top-title h1 {
        width: 60%;
        font-size: 3rem;
    }

    .main-top-title h5 {
        width: 70%;
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .main-top-rated-row {
        align-self: flex-end;
        width: 30rem;
        padding: 0 2rem;
    }

    .main-top-rated-row-1 {
        margin-right: 8rem;
    }

    .main-top-rated-row-2 {
        margin-right: 4rem;
    }

    .main-top-rated-row img {
        margin: 0 0.5rem 0 0;
    }

    .main-top-rated-row h4 {
        padding-left: 2rem;
    }

    .main-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 10rem;
    }

    .main-bottom-box {
        width: 32%;
    }

    .main-bottom-box-person {
        padding: 2rem;
    }

    .main-bottom-box-person-2 {
        margin-top: 1rem;
    }

    .main-bottom-box-person-3 {
        margin-top: 2rem;
    }
}
@media only screen and (max-width: 1439px) {
    main {
        box-shadow: 10px 10px 25px 25px rgba(199,199,199,0.76);
    }

    .main-top {
        margin-top: 4rem;
        text-align: center;
    }

    .main-top-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-top-title h1 {
        width: 80%;
    }

    .main-top-title h5 {
        width: 86%;
        margin-top: 1rem;
    }

    .main-top-rated {
        height: 20rem;
    }

    .main-top-rated-row {
        display: block;
        align-self: center;
        width: 90%;
    }

    .main-top-rated-row img {
        margin: 1rem 0.5rem 0.5rem;
    }

    .main-top-rated-row h4 {
        margin: 0 0 1rem;
    }

    .main-bottom {
        display: block;
        margin: 3rem 5%;
    }

    .main-bottom-box {
        margin-bottom: 2rem;
    }

    .main-bottom-box-person {
        padding: 1rem;
    }

    .main-bottom-box-person-description {
        font-size: 0.9rem;
    }
}